:root {
    /* primary */
    --blue: hsl(246, 80%, 60%);
    --color-work: hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-care: hsl(43, 84%, 65%);

    /*  neutral */
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desatBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);

    /* weight */
    --light: 300;
    --regular: 400;
    --medium: 500;

    /* breakpoints */
    --mobile: 37.5rem;
    --desktop: 144rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color: var(--veryDarkBlue);
    color: #ffffff;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.App {
    width: 100%;
    padding: 0 15vw;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
    gap: 3rem;
}

.card {
    max-width: 25rem;
    position: relative;
    height: 24rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem 1.5 0 0;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--darkBlue);
}
.card__image {
    background-color: var(--color-work);
    height: 50%;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -ms-border-radius: 1.5rem 1.5rem 0 0;
    -o-border-radius: 1.5rem 1.5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.profile {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 51.8rem;
    background-color: var(--darkBlue);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.name {
    padding: 3.5vh 1.6vw;
    height: 35.4rem;
    background-color: var(--blue);
    z-index: 10;
    position: relative;
}

.name img {
    width: 7.8rem;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 4rem;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name span {
    font-weight: var(--regular);
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    line-height: 1.8rem;
    display: block;
    margin-bottom: 0.3rem;
    color: var(--paleBlue);
}

.name h1 {
    text-transform: capitalize;
    font-weight: var(--light);
    font-size: clamp(3rem, 2.8vw, 4rem);
    line-height: 4.7rem;
}

.nav ul {
    padding: 3.5vh 1.6vw;
    list-style-type: none;
    font-weight: var(--regular);
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--desatBlue);
}

.nav ul li:nth-of-type(2) {
    margin: 2.1rem 0;
}

.nav li:hover {
    color: #fff;
    cursor: pointer;
}

.nav__active {
    color: #fff;
}

.icon {
    position: absolute;
    top: -1rem;
    right: 1.7rem;
    z-index: 0;
}

.exercise .icon {
    top: 0;
}

.stats {
    margin-top: 4.5rem;
    z-index: 1;
    background-color: var(--darkBlue);
    width: 100%;
    border-radius: 1.5rem;
    padding: 3.2vh 1.5vw;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
}

.stats:hover {
    background-color: var(--desatBlue);
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h2 {
    font-weight: var(--medium);
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    line-height: 2.1rem;
    text-transform: capitalize;
}
.title img:hover {
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3);
}

.time {
    font-weight: var(--light);
    font-size: clamp(2rem, 1.5vw, 2.6rem);
    line-height: 6.6rem;
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
}
.comparison {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    font-weight: var(--regular);
    color: var(--paleBlue);
    white-space: nowrap;
}

.work {
    background-color: var(--color-work);
}

.play {
    background-color: var(--color-play);
}

.study {
    background-color: var(--color-study);
}

.exercise {
    background-color: var(--color-exercise);
}

.social {
    background-color: var(--color-social);
}

.care {
    background-color: var(--color-care);
}

@media screen and (max-width: 765px) {
    h1 {
        font-size: 2.4rem;
        font-weight: var(--light);
        line-height: auto;
    }
    h2 {
        font-size: 1.8rem;
        line-height: auto;
    }
    body {
        overflow-y: visible;
    }
    .App {
        grid-template-columns: 1fr;
        padding: 8rem 2.4rem;
        place-items: center;
    }
    .card {
        flex-direction: row;
        min-width: 32.7rem;
        height: 16rem;
    }
    .comparison {
        font-size: 1.5rem;
        line-height: auto;
    }
    .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name {
        height: 13.3rem;
        justify-content: center;
    }
    .name img {
        width: 6.4rem;
        height: 6.4rem;
        margin-right: 2rem;
    }
    .name span {
        font-size: 1.5rem;
        line-height: auto;
    }
    .nav {
        width: 100%;
        height: 100%;
    }
    .nav ul {
        display: grid;
        height: 7rem;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.8rem;
        line-height: auto;
        font-weight: var(--regular);
        padding: 0;
    }
    .nav ul li:nth-of-type(2) {
        margin: 0;
    }
    .profile {
        height: 20rem;
    }
    .stats {
        height: 12.2rem;
        padding: 2.4rem;
    }
    .time {
        margin: 0;
        font-size: 3.2rem;
        font-family: var(--light);
        line-height: auto;
    }
}
